<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.ssmpro.mapper.BlogMapper">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache">
		<property name="timeToIdleSeconds" value="3600"/>	
		<property name="timeToLiveSeconds" value="3600"/>
		<property name="maxEntriesLocalHeap" value="1000"/>
		<property name="memoryStoreEvictionPolicy" value="LRU"/>
	</cache>

	<resultMap id="BaseResultMap" type="com.neusoft.ssmpro.entity.Blog">
		<id column="blog_id" property="blogId" jdbcType="INTEGER" />
		<result column="blog_no" property="blogNo" jdbcType="INTEGER" />
		<result column="blog_title" property="blogTitle" jdbcType="VARCHAR" />
		<result column="blog_praise" property="blogPraise" jdbcType="INTEGER" />
		<result column="blog_read" property="blogRead" jdbcType="INTEGER" />
		<result column="blog_comment" property="blogComment" jdbcType="INTEGER" />
		<result column="blog_status" property="blogStatus" jdbcType="CHAR" />
		<result column="categorynavid" property="categorynavid"
			jdbcType="INTEGER" />
		<result column="categoryvid" property="categoryvid" jdbcType="INTEGER" />
		<result column="categorypointid" property="categorypointid"
			jdbcType="INTEGER" />
		<result column="blog_ctime" property="blogCtime" jdbcType="TIMESTAMP" />
		<result column="blog_content" property="blogContent" jdbcType="LONGVARCHAR" />
	</resultMap>

	<resultMap type="blogVo" id="blogMarkMap" extends="BaseResultMap">
		<collection property="marks" ofType="mark">
			<id column="mark_id" jdbcType="INTEGER" property="markId" />
			<result column="mark_name" jdbcType="VARCHAR" property="markName" />
			<result column="mark_status" jdbcType="CHAR" property="markStatus" />
			<result column="mark_ctime" jdbcType="TIMESTAMP" property="markCtime" />
		</collection>
	</resultMap>

	<!-- 加载热度最高的三个blog -->
	<select id="loadTop3HotBlog" resultType="blog">
		select blog_id
		,blog_title ,blog_read ,blog_ctime from tbl_blog where blog_status=1
		order by blog_read desc limit 0, 3
	</select>

	<!-- 查询BlogAndMark -->
	<select id="loadBlogAndMarkByCondition" resultMap="blogMarkMap"
		parameterType="Map">
		SELECT b.*,m.*
		from tbl_blog b ,
		tbl_mark m ,
		tbl_mark_blog mb where
		b.blog_id=mb.blog_id and m.mark_id=mb.mark_id
		<if test="blogId!=null">
			and b.blog_id=#{blogId} and b.blog_status=1
		</if>
		<if test="categorynavid!=null">
			and categorynavid=#{categorynavid}
		</if>
		<if test="categoryvid!=null">
			and categoryvid=#{categorypointid}
		</if>
		<if test="categorypointid!=null">
			and categorypointid=#{categorypointid}
		</if>
		<if test="blogOrder!=null">
			order by #{blogOrder}
		</if>
	</select>

	<!-- 验证blog合法性 -->
	<select id="checkBlogExist" resultType="blog">
		select * from tbl_blog
		where blog_id=#{blogId} and blog_status=1
	</select>

	<!-- 更新博客 -->
	<update id="updateBlogByMap" parameterType="map">
		update tbl_blog
		<set>
			<if test="blogRead!=null">
				blog_read=blog_read+#{blogRead},
			</if>
			<if test="blogPraise!=null">
				blog_praise=blog_praise+#{blogPraise},
			</if>
		</set>
		where blog_id=#{blogId}
	</update>

	<update id="updateBlogNo" parameterType="blog">
		update tbl_blog set
		blog_no =#{blogId} where blog_id =#{blogId}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		delete from tbl_blog
		where blog_id = #{blogId,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="blog" useGeneratedKeys="true"
		keyProperty="blogId">
		insert into tbl_blog (blog_title,blog_status,
		categorynavid, categoryvid,blog_content)
		values (
		#{blogTitle,jdbcType=VARCHAR},
		#{blogStatus,jdbcType=CHAR},
		#{categorynavid,jdbcType=INTEGER},
		#{categoryvid,jdbcType=INTEGER},
		#{blogContent,jdbcType=LONGVARCHAR})
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.neusoft.ssmpro.entity.Blog">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update tbl_blog
		set blog_no = #{blogNo,jdbcType=INTEGER},
		blog_title =
		#{blogTitle,jdbcType=VARCHAR},
		blog_praise =
		#{blogPraise,jdbcType=INTEGER},
		blog_read =
		#{blogRead,jdbcType=INTEGER},
		blog_comment =
		#{blogComment,jdbcType=INTEGER},
		blog_status =
		#{blogStatus,jdbcType=CHAR},
		categorynavid =
		#{categorynavid,jdbcType=INTEGER},
		categoryvid =
		#{categoryvid,jdbcType=INTEGER},
		categorypointid =
		#{categorypointid,jdbcType=INTEGER},
		blog_ctime =
		#{blogCtime,jdbcType=TIMESTAMP},
		blog_content =
		#{blogContent,jdbcType=LONGVARCHAR}
		where blog_id =
		#{blogId,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		select blog_id, blog_no, blog_title, blog_praise, blog_read,
		blog_comment, blog_status,
		categorynavid, categoryvid, categorypointid,
		blog_ctime, blog_content
		from tbl_blog
		where blog_id =
		#{blogId,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		select blog_id, blog_no, blog_title, blog_praise, blog_read,
		blog_comment, blog_status,
		categorynavid, categoryvid, categorypointid,
		blog_ctime, blog_content
		from tbl_blog
	</select>

	<select id="getAllBlog" resultType="blog">
		select * from tbl_blog order by blog_id desc
	</select>


	<select id="loadBlogByCondition" resultType="blog"
		parameterType="Map">
		select * from tbl_blog
		<where>
			<if test="categorynavid!=null">
				categorynavid=#{categorynavid} and
			</if>
			<if test="categoryvid!=null">
				categoryvid=#{categoryvid} and
			</if>
			<if test="categorypointid!=null">
				categorypointid=#{categorypointid} and
			</if>
			<if test="blogId!=null">
				blog_id=#{blogId} and
			</if>
			blog_status=1
		</where>
		order by blog_no desc
	</select>

	<select id="loadBlogByMoreCondition" resultType="blog"
		parameterType="Map">
		select * from tbl_blog
		<where>
			<if test="categorynavid!=null">
				categorynavid=#{categorynavid} and
			</if>
			<if test="categoryvid!=null">
				categoryvid=#{categoryvid} and
			</if>
			<if test="categorypointid!=null">
				categorypointid=#{categorypointid} and
			</if>
			<if test="blogId!=null">
				blog_id=#{blogId} and
			</if>
			blog_status=1
		</where>
		<if test="blogOrder!=null">
			order by #{blogOrder} #{shunxu}
		</if>
	</select>



	<update id="switchStatus">
		update tbl_blog set blog_status=#{status} where
		blog_id=#{blogId}
	</update>
</mapper>